Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
s="simran"

In [2]:
s

'simran'

In [3]:
list=[1,2,3,"sim","ran"]

In [4]:
list

[1, 2, 3, 'sim', 'ran']

In [5]:
float=78.9

In [6]:
float

78.9

In [7]:
tuple=(1,2,"sim",3,4,"ran")

In [8]:
tuple

(1, 2, 'sim', 3, 4, 'ran')

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [9]:
var1=' '

In [10]:
type(var1)

str

In [11]:
 var2 = '[ DS , ML , Python]'

In [13]:
type(var2)

str

In [14]:
 var3 = [ 'DS' , 'ML' , 'Python' ]

In [16]:
type(var3)

list

In [17]:
var4 = 1.

In [18]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [19]:
a,b=10,5

In [20]:
a/b

2.0

In [21]:
a%b

0

In [22]:
a//b

2

In [23]:
a**b

100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [24]:
list=[1,2,3,4,"sim",2,45.6,[1,2,3],"tan",(1,2)]

In [25]:
for i in list:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
sim <class 'str'>
2 <class 'int'>
45.6 <class 'float'>
[1, 2, 3] <class 'list'>
tan <class 'str'>
(1, 2) <class 'tuple'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [44]:
a,b=10,2
count=0
if(a%b==0):
    count=int(a/b)
    print("a is divisible by b ",count, "times")
else:
    print("a is not divisible by b")

a is divisible by b  5 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [49]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in list:
    if(i%3==0):
        print(i,"is divisble by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisble by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisble by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisble by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisble by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisble by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisble by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisble by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisble by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
Ans. Mutable data types are those data types whose values can be altered or change by the user for ex="list" 
     Immutable data types are those data types whose value can be changed for ex="tuple","string".

In [50]:
#Mutable
li=[1,2,3,4,5]
li[0]=10

In [51]:
li

[10, 2, 3, 4, 5]

In [ ]:
#Immutable
tuple=(1,2,3,4,5)
tuple[0]=10